
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save img in project folder</h2>
<hr />
@using(Html.BeginForm("Index", "ImgSave", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="file" name="file" />
    <button>Guardar</button>
}

